[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "appnn"]
	path = appnn
	url = https://github.com/cran/appnn
	shallow = true
	registered = true
